[submodule "Libraries/bgfx"]
	path = Libraries/bgfx
	url = https://github.com/bkaradzic/bgfx
[submodule "Libraries/bx"]
	path = Libraries/bx
	url = https://github.com/bkaradzic/bx
[submodule "Libraries/bimg"]
	path = Libraries/bimg
	url = https://github.com/bkaradzic/bimg
[submodule "Libraries/glfw"]
	path = Libraries/glfw
	url = https://github.com/glfw/glfw
[submodule "Libraries/cpplocate"]
	path = Libraries/cpplocate
	url = https://github.com/cginternals/cpplocate
[submodule "Libraries/box2d"]
	path = Libraries/box2d
	url = https://github.com/erincatto/box2d
